<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.0.3/css/font-awesome.css}"
          href="../../css/font-awesome-4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.4.custom.css}"
          href="../../css/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}"
          href="../../css/common.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../css/style.css" />
    <script th:src="@{/js/lib/jquery-1.10.2.js}" src="../../js/lib/jquery-1.10.2.js"/>
    <script th:src="@{/js/lib/jquery-ui-1.10.4.custom.js}" src="../../js/lib/jquery-ui-1.10.4.custom.js"/>


</head>
<body>

<th:block layout:fragment="content">
    <img th:src="@{/images/fstec.png}" class="pull-right" style="margin-right: 5pt"/>

    <h2 align="center">Вас приветствует демонстрационная программа защиты от внедрения вредоносного кода через рекламу, сервисы и контент.</h2>
    <br>
    </br>
    <h3 align="center">Данная программа позволяет продемонстрировать защиту от угрозы безопсаности информации УБИ.186.
        <br>
        </br>
        Информацию об угрозе Вы можите получить, щелкнув мышкой
        <a href="http://www.bdu.fstec.ru/threat/ubi.186" target="_blank">здесь</a>
    </h3>

    <br>
    </br>

    <h3 align="center"> Чтобы начать работать в программе, нажмите на кнопку "Войти"</h3>


    <br>
    </br>
    <br>
    </br>
    <h4 align="right" style="margin-right: 20pt">Автор: Пятаева Екатерина Владимировна, студентка гр. 12КБ(с)РЗПО ФМИТ
        <br>
        </br>
    Руководитель: Влацкая Ирина Валерьевна, заведующий кафедрой КБМОИС,
        <br>
        </br>
        доцент, кандидат технических наук
        <br>
        </br>
    Версия продукта 1.0
        <br>
        </br>
    Оренбург, 2016</h4>
</th:block>
</body>
</html>