<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.0.3/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.4.custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/lib/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/lib/jquery-ui-1.10.4.custom.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="main">
    <h2 class="mb30" style="text-align: center">
        Информацию об угрозе УБИ.186 Вы можите получить, щелкнув мышкой
        <a href="http://www.bdu.fstec.ru/threat/ubi.186" target="_blank">здесь</a>
    </h2>

    <div style="margin-left: 20%; max-width: 60%; background-color: #f9f9f9; padding: 25px;">
        <form th:action="@{/profile}" th:method="post">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12 mb30" style="text-align: center;">
                    <span class="title"> Введите адрес сайта, который Вы хотите проверить на наличие вредоносных ссылок, затем нажмите на кнопку "Проверить".</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12">
                    <label for="siteSelect" class="form-label"> Выберите адрес сайта из списка </label>
                    <select id="siteSelect" class="form-control selectpicker" name="checkedSiteName" data-live-search="true" style="margin-bottom: 20px;">
                        <option th:each="checkedSite : ${checkedSites}" th:value="${checkedSite.name}" th:text="${checkedSite.name}">Name</option>
                    </select>
                    <label for="siteInput" class="form-label"> Или введите другой адрес сайта </label>
                    <input id="siteInput" class="form-control" name="url" th:type="text" maxlength="100"/>
                </div>
                <div class="col-md-12">
                    <button class="form-control btn btn-success" name="check" type="submit" style="margin-top: 15px;">
                        Проверить
                    </button>
                </div>
            </div>
        </form>

        <div class="row" th:if="${unknownHost}">
            <div class="col-md-12 col-lg-12 col-xs-12 mt30">
                <span class="title green" th:text="${'Введен некорректный адрес сайта: ' + checkedSiteName + '. Данного адреса сайта не существует. Введите кооректный адрес.'}"></span>
            </div>
        </div>

        <div class="row" th:if="${checkIsPress}">
            <div class="col-md-12 col-lg-12 col-xs-12 mt30">
                <span class="title green" th:text="${'Проверяемый сайт: '+checkedSiteName}"></span>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 mt30" th:unless="${isEmpty}">
                <span class="title green">На введенном сайте обнаружены следующие вредоносные ссылки:</span>
                <span class="title red" th:text="${site.name}" th:each="site : ${sites}"></span>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 mt30" th:if="${isEmpty}">
                <span class="title green">На введенном сайте не обнаружены вредоносные ссылки</span>
                <span class="title green">Вы можете перейти на сайт, щелкнув мышкой <a th:href="${correctUrl}" th:target="_blank"> здесь</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>